.hideItem {
  display: none;
}

.showItem {
  display: block;
}

.floatleft {
  float: left;
}

.bgcolortheme {
  /* background-color: #ff851b; */
  /* background-image: linear-gradient(white, red); */
  /* background-image: linear-gradient(to bottom right, #b10000, #ff3d3d); */
  background-image: linear-gradient(to bottom right, gold, rgb(223, 197, 55))
    /* background-image: linear-gradient(to botton right, red, white); */
}

.boderrightdanger {
  border-right: solid 5px rgb(221, 15, 15);
}

.boderrightsuccess {
  border-right: solid 5px rgb(11, 117, 11);
}

.fontcolorblack {
  color: black;
}

.cardbg {
  background-image: linear-gradient(to top right, #fffefe, #b7b799);
}

.menu {
  font-size: 14px;
  font-family: "Segoe UI";
  font-weight: 500;
}

.menucurrteambutton {
  width: 175px;
  border: 0px;
  border-radius: 0px;
  text-align: right;
  font-size: 11px;
  height: 39px;
  font-weight: bold;
}

.currentteamnameicon {
  float: left;
  width: 16px;
}

.textleftaligh {
  text-align: left;
}

.topnavBoard {
  margin-top: -39px;
  margin-left: 175px;
  flex-direction: row;
}

.topnavbar {
  height: 39px;
  padding-left: 0px;
}

.topnavbarbutton {
  margin-top: -7px;
  margin-left: 0px;
  height: 39px;
}

.topnavbarcollapse {
  text-align: left;
  padding-left: 5px;
  z-index: 100;
}

.boardli {
  width: 100%;
  text-align: center;
}

.topnavbarboardname {
  font-weight: bold;
  font-size: 13px;
}

.addboardicon {
  float: left;
  width: 20px;
}

.addboardtext {
  width: 70px;
  font-style: italic;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
}

.divtoprightheader {
  min-width: 70px;
  font-style: italic;
  float: right;
  margin-top: -29px;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  z-index: 100;
  margin-right: 5px;

}

.divcharticon {
  float: left;
  width: 30px;

}

.divaddusericon {
  float: left;
  width: 30px;
}

.divuserName {
  float: left;
  font-size: 9px;
}



/* Start: Page Container */
.left {
  display: block;
  margin-top: 0px;
  float: left;
}

.right {
  width: 100%;
  bottom: 0%;
  position: fixed;
  height: 50px;
}

/* Start: Todo Header */
.todo-container {
  width: 306px;
  max-width: 306px;
  margin: 0 2px 1px 2px;
  display: inline-block;
  vertical-align: top;
  height: auto;
}

/* Start: Todo list Container */
.todo-list {
  /* border: solid 1px #b3b3b3; */
  min-height: 60px;
  background-color: ghostwhite;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 100%;
}

.addlist {
  margin-top: 5px;
  margin-bottom: 10px;
  float: left;
  margin-left: -3px;
  width: 70px;
}

.addlisticon {
  width: 20px;
  float: left;
}

.addlisttext {
  max-width: 60px;
  font-style: italic;
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
}

.footerspace {
  float: left;
  margin-top: -12px;
  height: 95px;
}

.todo-card {
  min-width: 306px;
  margin: 2px 2px 2px 2px;
  border-left: solid 0px;
  border-bottom: solid 0px;
  border-top: solid 0px;
}

.cardedittextarea {
  min-width: 100%;
  min-height: 60px;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
}

.cardheader {
  border-radius: 5px 0px 0px 5px;
  font-size: 12px;
  font-family: Geneva, Tahoma, sans-serif;
  height: 100%;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 0px;
  padding-right: 3px;
  min-height: 40px;
}

.hrmargin {
  margin: 2px;
}

/* Start: Todo box - Box */
.todo-box {
  /* padding: 2px 2px 0px 2px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  width: 100%;
  margin-bottom: -1px;
}

.minwidth {
  min-width: 70px;
  min-height: 38px;
  overflow: hidden;
}

.boderrightdanger {
  border-right: solid 5px rgb(221, 15, 15);
}

.boderrightsuccess {
  border-right: solid 5px rgb(11, 117, 11);
}

.duedatedivmain {
  height: 20px;
  margin: -2px;
}

.duedatediv {
  font-size: 10px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  float: left;
  margin-left: 6px;
  margin-top: 8px;
  font-style: italic;
  font-weight: bold;
}

.ecbManu {
  overflow: visible;
  display: inline-block;
  color: rgb(224, 154, 3);
  margin-right: 3px;
  float: right;
}

/* Start: Todo Create Form */
label {
  font-family: Verdana;
  font-size: 10px;
}

h3 {
  min-width: 306px;
  margin-top: 2px;
  text-align: center;
  font-family: Segoe UI;
  color: #ffffff;
  font-size: 15px;
  background-color: grey;
  font-weight: bold;
  letter-spacing: 0.5mm;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}




@media only screen and (max-width: 634px) {
  #currUser {
    display: none;
  }

  .todo-container {
    min-width: 100%;
    margin: 0 2px 1px 2px;
    display: inline-block;
    vertical-align: top;
    height: auto;
  }

  .todo-box {
    /* padding: 2px 2px 0px 2px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    width: 100%;
    min-width: 306px;
  }

  .todo-card {
    min-width: 306px;
    width: 100%;
    margin: 2px 2px 2px 2px;
    border-left: solid 0px;
    border-bottom: solid 0px;
    border-top: solid 0px;
  }

  .duedatediv {
    font-size: 10px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin-left: 6px;
    margin-top: 8px;
    font-style: italic;
    font-weight: bold;
  }
}

/* END */